 <!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Yashen's, world | Register</title>
		<link rel="stylesheet" href="register.css">
		<style>
			@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
		 </style>  
		<script src="https://kit.fontawesome.com/c99ac324e2.js" crossorigin="anonymous"></script>
	</head>
		<body>
			<div class="box text-center">  
		  <%if(error && error.length >0){  %>  
	   <div class="alert alert-danger" role="alert">
 			<h2 class="text-center"><i class="fas fa-bomb"></i><%=error%></h2>
		  </div>
		  <% } %>
		 <%  if(success && success.length >0){%>
				  <div class="alert alert-info" role="alert">
 <h4 class="text-center"><i class="fas fa-check-circle"></i><%=success%></h4>
		  </div> 
		 <% } %> 
				 <h4 class="text-center">Register for a free Account!</h4>
				   <form class="former container" action="/register" method="POST"> 
						<div class="inputBox">
							<input type="text" name="username" required>
							<label><i class="p-2 fas fa-user-tie"></i> | Email</label>
						</div>
						 <div class="inputBox">
							<input type="password" name="password" required>
							<label><i class="p-2 fas fa-lock"></i> | Password</label>
						</div>
							<input type="submit" value="Submit" style="background:linear-gradient(to right,#4d71a5,#9bc4ff,#25364f); color: white;">
					</form> 
			</div>	
			   <p class="footer">
			     <a style="font-family: 'Press Start 2P', cursive;"  href="/"> 
			 <i class="fas fa-home"></i>Back to Yashen's, world?
			 </a>
				    <br>
			   Sign in Yashen's, world?  <span><a href="/login">Log In</a></span>
		  </p>
		</body>
</html>
